@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>
        Aprender sobre
        <a href="https://docs.microsoft.com/aspnet/core">Criando aplicativos Web com ASP.NET Core</a>.
    </p>
</div>
